[[org.clojure/clojure        "1.8.0"]
 [org.clojure/clojurescript  "1.9.542"]
 [adzerk/boot-cljs           "2.0.0" :scope "test"]
 [cljsjs/material-components "0.10.0-0"]
 [degree9/boot-semver        "1.4.4" :scope "test"]
 [degree9/boot-npm           "1.4.0" :scope "test"]
 [hoplon/hoplon              "7.0.1"]]
